body{
    background-image: url(../img/background.png);
}
#traffic-light {
    width: 30px;
    height: 65px;
    position: relative;
    left: 37.5%;
    top: 200px;
}
.gameBar{
    width: 400px;
    margin: 10px;
    padding: 50px;
    background: #bbbbbb8c;
    border-radius: 20px;
}
.trafficBtns button {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 0px;
}